# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
.idea/deployment.xml
.idea/modules.xml
.idea/workspace.xml
.idea/sistema_calificaciones.iml
.idea/vcs.xml
.idea/vcs.xml
.idea/dataSources.xml
.idea/dataSources/01c9de4f-0d8b-4d72-a10c-9a84a855c64b.xml
.idea/dataSources.xml
.idea/dataSources.local.xml
.idea/sqldialects.xml
.idea/dataSources.xml
.idea/dataSources/67481cc8-57a5-4ead-b96c-653837e49a1b.xml
